@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.WestHollywood {
    width: 100%;
    height: 80vh;
    background: rgba(20, 20, 20, 0.5);
    position: relative;
  }
  
  .WestHollywood:before {
    content: '';
    position: absolute;
    background: url('../../assets/menu-bg-west-hollywood.webp') no-repeat center center/cover;
    height: 80vh;
    width: 100%;
    z-index: -1;
  }
  
.WestHollywood {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.WestHollywood .WestHollywood-content {
    display: block;
    position: absolute;
    top: 40%;
    padding: 1rem;
}

.WestHollywood h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.WestHollywood h3 {
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.WestHollywood h1 {
    font-size: 2rem;
}

.WestHollywood h3 {
    font-size: 1rem;
}

}