@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.HuntingtonBeach {
    width: 100%;
    height: 80vh;
    background: rgba(24, 23, 24, 0.651);
    position: relative;
  }
  
  .HuntingtonBeach:before {
    content: '';
    position: absolute;
    background: url('../../assets/menu-bg-huntington-beach-min.webp') no-repeat center center/cover;
    height: 80vh;
    width: 100%;
    z-index: -1;
  }
  

.HuntingtonBeach {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.HuntingtonBeach .HuntingtonBeach-content {
    display: block;
    position: absolute;
    top: 40%;
    padding: 1rem;
}

.HuntingtonBeach h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.HuntingtonBeach h3 {
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.HuntingtonBeach h1 {
    font-size: 2rem;
}

.HuntingtonBeach h3 {
    font-size: 1rem;
}

}