@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.Venice {
    width: 100%;
    height: 80vh;
    background: rgba(19, 18, 19, 0.384);
    position: relative;
  }
  
  .Venice:before {
    content: '';
    position: absolute;
    background: url('../../assets/venice-retreat1.webp') no-repeat center top/cover;
    height: 80vh;
    width: 100%;
    z-index: -1;
  }
  

.Venice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Venice .Venice-content {
    display: block;
    position: absolute;
    top: 40%;
    padding: 1rem;
}

.Venice h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.Venice h3 {
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.Venice h1 {
    font-size: 2rem;
}

.Venice h3 {
    font-size: 1rem;
}

}